@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  html, body {
    background-color: #000000;
    overscroll-behavior: none;
    -webkit-user-select: none;
    user-select: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
